.doi-version-info {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.doi-version-info p {
    margin: 5px 0;
    font-size: 14px;
}

.version-dropdown { 
    position: relative;
}
.version-dropdown #version-list {
    display: none; /* Initially hidden */
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}

.version-dropdown #version-list a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.version-dropdown #version-toggle {
    cursor: pointer;
}



.version-item {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.version-item:hover {
    background: #f0f0f0;
}
